ul{
    background-color: rgb(40, 46, 48);
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0091ff;
    
}
a{
    color: #0091ff;
    margin-left: 10px;
}
#bod{
    color: #47494d;
    background-color: #0d0f0f;
}