.board button {
    width: 90px;
    height: 90px;
    background-color: #282e30;
    border-radius: 50%;
    border: 4px solid #313438; /*this gets rid of bootstrap shadow*/
    margin: 1px;
  }
  body {
    background-color: #282e30;
  }
  #b{
    background-color: #47494d;
    color: #47e7ff;
    border-color: #0091ff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    
  }
  .jumbotron{
    background-color: #313438;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #name{
    color: #0091ff;
    font-size: 4em;
  }
  h6{
    font-size: 1.5em;
    color:  #de5050;
    margin-bottom: 20px;
  }
  h5{
    color: #0091ff;
    margin-bottom: 50px;
  }
  #connect{
    border: 2px solid #0091ff;
    border-radius: 10%;
    color: #47e7ff;
    background-color: #47494d;
    margin-left: 10px;
}