#jumbo{
    background-color: rgb(40, 46, 48);
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#name{
    font-family: 'Roboto', sans-serif;
    color: #0091ff;
    font-size: 4em;
    text-shadow: 5px 5px 2px #0d0f0f;
}
#job{
    font-family: 'Roboto', sans-serif;
    color: #47e7ff;
    font-size: 2em;
    text-shadow: 3px 2px 2px #0d0f0f;

}
#home{
    border: 2px solid #0091ff;
    border-radius: 10%;
    color: #47e7ff;
    background-color: #47494d;
    margin-left: 10px;
}
#linkedin{
    border-radius: 10%;
    size: 10px;
    width: 50px;
    height: 50px;
    margin-right: 20px;

}
#github{
    size: 10px;
    width: 50px;
    height: 50px;
    margin-right: 50px;
}
div{
    margin-top: 20px;
}
