#jumbo{
    background-color: #313438;
    margin-inline-start: 25px;
    margin-inline-end: 25px;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #de5050;
}
#sub{
    border: 2px solid #0091ff;
    border-radius: 5%;
    color: #47e7ff;
    background-color: #47494d;
    margin-left: 10px;
}
#f{
    text-transform: capitalize;
    width: 275px;
    margin: 5px 10px 5px 0;
    text-align: left;
    color: #0091ff;
    font-family: 'Roboto', sans-serif;
}
input[type=text]{
    border: 2px solid #de5050;
    border-radius: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
input{
    color: #000;
}
body{
    background-color: #282e30;
}
#drop{
    color: #47e7ff;
}
#movie{
    color: #de5050;
}