#resume{
    border: 2px solid #0091ff;
    border-radius: 5%;
    color: #47e7ff;
    background-color: #47494d;
    margin-left: 10px;
}

#d{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    width:  800px;
    height: 1100px;
}
