#resume{
    color: #47e7ff;
    margin-left: 10px;
}

#d{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    width:  800px;
    height: 1100px;
}
body{
    background-color: rgb(13, 15, 15);
    background-color: rgba(13, 15, 15, 0.5);
}
