#container {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  scroll-margin-inline: 4;
}

.block {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.block img {
  margin-top: 8px;
  vertical-align: middle;
  width: 200px;
  height: 320px;
}

#title{
  color: #0091ff;;
  font-size: 20px;
  width: 120px;
  line-height: 22px;
  margin-bottom: 30px;
}
#year{
  color:  #47e7ff;
  margin-top: 5px;
  font-size: 22px;
  margin-bottom: 10px;
  margin-bottom: 0px;
}
#jumbo{
  background-color: rgb(40, 46, 48);
  margin: 30px, auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #de5050;
}

