<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html>
    <head>
        {% block title %}Lauren Pappas{% endblock %}
    </head>
    <body>
        {% block body_block%}
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            
        <br><div align='center' class="container" id="d1">
            <div class="jumbotron" id='jumbo'>
                <h1 id='name'>LAUREN PAPPAS</h1>
                <h3 id="job">SOFTWARE ENGINEER</h3>
                <div class='container'>
                    <ul>
                        <a href="https://www.linkedin.com/in/lauren-n-pappas/"><img id='linkedin' src="{% static "images/linkedin_icon.jpg" %}" alt="LinkedIn"></a>
                        <a href="https://github.com/LNPappas/"><img id='github' src="{% static "images/github_icon.png" %}" alt="GitHub"></a>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>