<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html>
    <head>
        {% block title %}Search Results{% endblock %}
    </head>
    <body>
        {% block body_block%}
        <link rel="stylesheet" href="{% static "css/search.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <script src='{% static "js/search.js" %}'></script>
  
        <div  id='d' align='center' class="container">
                <h1 align="center">RESULTS:</h1>
                {% if movie %}
                    <div id='container' align='center'>
                        {% for element in movie %}
                        <div class='block'>
                            {% if "N/A" in element.Poster %}
                                <img class='poster' id='{{element.imdbID}}' class="rounded mx-auto d-block" src="{% static 'images/no.jpg' %}" alt="N/A"></img>
                            {% else %}
                                <img class='poster' id='{{element.imdbID}}' class="rounded mx-auto d-block" src="{{ element.Poster }}" alt="NO IMAGE"></img>
                            {% endif %}
                            <p id="year">{{element.Year}}</p>
                            <p id="title">{{element.Title}}</p> 
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p> NO MOVIES FOUND </p>
                {% endif %}
        </div>
        {% endblock %}
    </body>
</html>