<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html>
    <head>
        {% block title %}Search Results{% endblock %}
    </head>
    <body>
        {% block body_block%}
        <link rel="stylesheet" href="{% static "css/movie.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        

        <div  id='d' align='center' class="container">
            <div id='jumbo' class="jumbotron">
                <br><h1 align="center">Search Results:</h1><br>
                {{ movie.as_p }}
            </div>
        </div>
        {% endblock %}
    </body>
</html>